doctype html
html
  head
    title buku
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover")
    meta(name="theme-color" content="#ffffffE6")
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.12.0/css/tachyons.min.css")
    link(rel="stylesheet" href="/css/override.css")
    script(defer, src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js")
    script(defer, src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js")
    script(src="https://cdn.jsdelivr.net/npm/pinecone-router@4.4.0/dist/router.min.js")

  body.palatino.black-80.bg-white-90.ma0.pa0.f5-ns.f4(x-data="router()")
    header.tc.pv3
      a.f2.link.black-80.hover-blue.mv2.dib(href="/page/home") buku
      nav.nav-bar.f4.f5-ns.w-100
        include ../components/nav_items.pug

    main.mv4.mw6.w-100.center.h-title.lh-copy.ph2
      // main pages
      template(x-route="/page/home")
        include ../page/home
      template(x-route="/page/backlog")
        include ../page/backlog
      template(x-route="/page/admin")
        include ../page/admin

      // book
      template(x-route="/page/books")
        include ../page/books
      template(x-route="/page/book/year/:year")
        include ../page/book_pages/year
      template(x-route="/page/book/new")
        include ../page/book_pages/new
      template(x-route="/page/book/:id")
        include ../page/book
      template(x-route="/page/book/:id/edit")
        include ../page/book_pages/edit

      // author
      template(x-route="/page/author/:name")
        include ../page/author
      template(x-route="/page/authors")
        include ../page/authors

      // series
      template(x-route="/page/serieses")
        include ../page/serieses
      template(x-route="/page/series/:name")
        include ../page/series

      // admin
      template(x-route="/page/admin/import")
        include ../page/admin_pages/import

    footer.tc.mt5.dn.db-ns
      p 
        Copyright &copy {{this_year}}
        a.link.blue(href="https://github.com/waynezhang/buku" target="_blank") buku

    script(type="text/javascript").
      function router() {
				return {};
			}

      function formatDate(date) {
        if (date == null) { return "" }
        date = new Date(date)
        const year = date.getFullYear()
        const month = String(date.getMonth() + 1).padStart(2, '0')
        const day = String(date.getDate()).padStart(2, '0')
        return `${year}-${month}-${day}`
      }

      document.addEventListener('alpine:init', () => {
        Alpine.magic('json', () => async (url, method, data) => {
          const resp = await fetch(url, {
            method: method || "GET",
            headers: { "Content-Type": "application/json" },
            body: data ? JSON.stringify(data) : null,
          })
          if (!resp.ok) {
            const json = await resp.json()
            throw Error(json.message)
          }
          return await resp.json()
        })
      })
