div(
  x-data=`{
    column_info: {},
    csv_file: null,
    delimiter: ",",
    columns_loaded: false,
    column_map: {},
    result: "",
    error_message: "",
    async readColumns() {
      this.reset_message()

      const fd = new FormData();
      fd.append("file", this.csv_file)
      fd.append("delimiter", this.delimiter)
      fetch('/api/import/read_columns', {
        method: 'POST',
        body: fd,
      }).then(async resp => {
        if (!resp.ok) {
          message = (await resp.json()).message
          throw new Error(message)
        }
        return resp.json()
      }).then(json => {
        this.column_info = json
        this.columns_loaded = true
      }).catch(e => {
        this.error_message = e.message
      })
    },
    async upload() {
      this.reset_message()

      const fd = new FormData()
      document.querySelectorAll("[data-type=column]").forEach(s => {
        fd.append(s.name, s.value)
      })
      fd.append("file", this.csv_file)
      fd.append("delimiter", this.delimiter)
      fetch('/api/import', {
        method: 'POST',
        body: fd,
      }).then(async resp => {
        json = await resp.json()
        this.result = "Imported " + json.succeeded + " records, " + json.failed + " failed."
      }).catch(e => {
        this.error_message = e.message
      })
    },
    reset_message() {
      this.result = ""
      this.error_message = ""
    },
  }`
)
  .page-header Import

  .flex.flex-wrap
    .w-30.dn.dib-ns CSV file
    input.f6(
      type="file"
      accept=".csv"
      x-ref="file"
      @change="csv_file = $refs.file.files[0]"
    )
  .flex.flex-wrap.mt3
    .w-30 Delimiter
    select(x-model="delimiter")
      option(value=",") ,
      option(value=";") ;
  .flex.flex-wrap.mt3
    a.link.button(
      @click="readColumns()"
    ) Read Columns

  template(x-if="columns_loaded")
    .dib.w-100.mt3
      .flex.flex-column.bg-black-05.br2
        template(x-for="p in column_info.presets")
          .w-100.pa2
            label.fl.w-100.w-20-ns.f6(x-text="p")
            select.fl.w-100.w-80-ns(
              data-type="column"
              x-bind:name="p"
            )
              template(x-for="c in column_info.columns")
                option(
                  x-bind:value="c"
                  x-text="c"
                )
      .flex.mt3
        a.fl.link.button.primary(
          @click="upload()"
        ) Import

  p(x-text="result")
  p.error(x-text="error_message")
