.f2.fw6.black-80.pb3 Authors
.mt3

.flex
  input.w-100(
    name="name"
    value="{{.name}}"
    hx-get="/page/author/search"
    hx-include="[name='order']"
    hx-trigger="load, change, keyup delay:200ms changed, change from:#sort_order"
    hx-target="#search_result"
  )

.flex.mt2.justify-between
  label Order by name
    select.ml2#sort_order(name="order")
      option(value="asc") Asc
      option(value="desc") Desc

section#search_result
