div(
  x-show="loaded"
  x-init="update()"
  x-data=`{
    loaded: false,
    name: "",
    order: "asc",
    sort: "title",
    status: "",
    books: [],
    async update() {
      this.books = await $json(
        "/api/books.json?"
        + "name=" + this.name
        + "&order=" + this.order
        + "&sort=" + this.sort
        + "&status=" + this.status
      )
      this.loaded = true
    }
  }`
)
  .page-header(x-text="'Books (' + books.length + ')'") Books

  input.w-100(
    x-model="name"
    type="text"
    @input.debounce.300ms="update"
  )

  .flex.flex-wrap.mt2
    .w-100.w-70-ns
      label Sort by
      select.ml2(
        x-model="sort"
        @change="update"
      )
        option(value="title") Title
        option(value="author") Author
        option(value="created_at") Added date
        option(value="started_at") Started date
        option(value="finished_at") Finished date
      select.ml1(
        x-model="order"
        @change="update"
      )
        option(value="asc") Asc
        option(value="desc") Desc

    .w-100.w-30-ns.tr-ns
      label Status
      select.ml2(
        x-model="status"
        @change="update"
      )
        option(value="") All
        option(value="to-read") Backlog
        option(value="reading") Reading
        option(value="read") Finished

  .space2
    template(x-for="book in books" x-data="{ show_tag: true }")
      include ../components/book_item
