.page-header {{.title}}

form#book_edit
  .flex.flex-wrap
    .w-100.w-20-ns
      label(for="title") Title
    .w-100.w-80-ns
      input.w-100(type="text" name="title" placeholder="Title" value="{{.book.Title}}")
  .flex.flex-wrap.mt2
    .w-100.w-20-ns
      label(for="author") Author
    .w-100.w-80-ns
      input.w-100(type="text" name="author" placeholder="Author" value="{{.book.Author}}" list="author_list")
  .flex.flex-wrap.mt2
    .w-100.w-20-ns
      label(for="Series") Series
    .w-100.w-80-ns
      input.w-100(type="text" name="series" placeholder="Series" value="{{.book.Series}}" list="series_list")
  .flex.flex-wrap.mt2
    .w-100.w-20-ns
      label(for="ISBN") ISBN
    .w-100.w-80-ns
      input.w-100(type="text" name="isbn" placeholder="ISBN" value="{{.book.ISBN}}")
  .flex.flex-wrap.mt2
    .w-100.w-20-ns
      label(for="startedAt") Started
    .w-100.w-80-ns
      input.w-100(type="text" name="startedAt" placeholder="{{now}}" value="{{.book.StartedAt | date_fmt}}")
  .flex.flex-wrap.mt2
    .w-100.w-20-ns
      label(for="finishedAt") Finished
    .w-100.w-80-ns
      input.w-100(type="text" name="finishedAt" placeholder="{{now}}" value="{{.book.FinishedAt | date_fmt}}")
  .flex.flex-wrap.mt2
    label(for="comments") Comments
  .flex.flex-wrap.mt2
    textarea.w-100.h4.br2.ba.b--black-20(name="comments") {{.book.Comments}}

  .flex.flex-wrap.mt3
    if .bookID
      a.link.button.primary(
        type="submit"
        hx-post="/page/book/{{.bookID}}"
        hx-target="#message"
      ) Submit
    else
      a.link.button.primary(
        type="submit"
        hx-post="/page/book"
        hx-target="#message"
      ) Submit

  p#message

.mt2

details
  summary Search from Google
  include ../partials/google_search_form

datalist(id="author_list")
  for _ in .authors
    option(value="{{.}}")

datalist(id="series_list")
  for _ in .series
    option(value="{{.}}")
