h5 {{.title}}

section
  form#book_edit
    p
      label(for="title") Title
      input(type="text" name="title" placeholder="Title" value="{{.book.Title}}")
      br
      label(for="author") Author
      input(type="text" name="author" placeholder="Author" value="{{.book.Author}}" list="author_list")
      br
      label(for="Series") Series
      input(type="text" name="series" placeholder="Series" value="{{.book.Series}}" list="series_list")
      br
      label(for="ISBN") ISBN
      input(type="text" name="isbn" placeholder="ISBN" value="{{.book.ISBN}}")
      br
      label(for="startedAt") Started
      input(type="text" name="startedAt" placeholder="{{now}}" value="{{.book.StartedAt | date_fmt}}")
      br
      label(for="finishedAt") Finished
      input(type="text" name="finishedAt" placeholder="{{now}}" value="{{.book.FinishedAt | date_fmt}}")
      br
      label(for="comments") Comments
      br
      textarea(name="comments") {{.book.Comments}}
    p
      if .bookID
        button(
          type="submit"
          hx-post="/page/book/{{.bookID}}"
          hx-target="#message"
        ) Submit
      else
        button(
          type="submit"
          hx-post="/page/book"
          hx-target="#message"
        ) Submit
    p#message

section
  details
    summary Search from Google
    include ../partials/google_search_form

datalist(id="author_list")
  for _ in .authors
    option(value="{{.}}")

datalist(id="series_list")
  for _ in .series
    option(value="{{.}}")
