.page-header {{.book.Title}}

.flex.flex-wrap.pb2
  .w-100.w-20-ns Author
  a.w-100.w-80-ns.link.blue(href="/page/author/{{.book.Author}}") {{.book.Author}}
.flex.flex-wrap.pb2
  .w-100.w-20-ns Series
  a.w-100.w-80-ns.link.blue(href="/page/series/{{.book.Series}}") {{.book.Series}}
.flex.flex-wrap.pb2
  .w-100.w-20-ns ISBN
  .w-100.w-80-ns {{.book.ISBN}}
.flex.flex-wrap.pb2
  .w-100.w-20-ns Started
  .w-100.w-80-ns {{.book.StartedAt | date_fmt}}
.flex.flex-wrap.pb2
  .w-100.w-20-ns Finished
  .w-100.w-80-ns  {{.book.FinishedAt | date_fmt}}
.flex.flex-wrap.pb2
  .w-100.w-20-ns Created
  .w-100.w-80-ns  {{.book.CreatedAt | date_fmt}}
.flex.flex-wrap.pb2
  .w-100.w-20-ns Comments
  .w-100.w-80-ns.black-60 {{.book.Comments}}

.mt3

if eq .book.Status "reading"
  a.link.button.mr2(
    hx-post="/page/book/{{.book.ID}}/status/to-read"
    hx-target="#message"
  ) Stop
  a.link.button.primary.mr2(
    hx-post="/page/book/{{.book.ID}}/status/read"
    hx-target="#message"
  ) Finish

if eq .book.Status "to-read"
  a.link.button.primary.mr2(
    hx-post="/page/book/{{.book.ID}}/status/reading"
    hx-target="#message"
  ) Start

a.link.button.destructive.mr2(
  hx-delete="/page/book/{{.book.ID}}"
  hx-confirm="Are you sure to delete {{.book.Title}}"
  hx-target="#message"
) Delete

a.link.blue.pv1.ph2.mr2(
  href="/page/book/{{.book.ID}}/edit#"
) Edit

p#message
