div(
  x-show="loaded"
  x-init="update()"
  x-data=`{
    loaded: false,
    home: {
      counts: {},
      reading_books: [],
      year_records: [],
      current_year_record: [],
    },
    async update() {
      this.home = await $json("/api/home.json")
      this.loaded = true
    },
  }`
)

  .dib.mt3

  .black-60.lh-solid
    dl.dib.mr4.mr5-ns
      dd.ml0.f5.ft.mb1 Year
      dd.ml0.f2
        a.b.black-60.link.hover-blue(
          x-bind:href="'/page/book/year/' + home.current_year_record.year"
          x-text="home.current_year_record.year"
        )
    
    dl.dib.mr4.mr5-ns
      dd.ml0.f5.ft.mb1 Finished
      dd.ml0.f2.b(x-text="home.current_year_record.count")

    dl.dib
      dd.ml0.f5.ft.mb1 Ongoing
      dd.ml0.f2.b(x-text="home.counts.reading")

  .dib.mb3

  .sub-page-header Reading

  template(x-if="home.reading_books.length == 0")
    .black-50.pb3.mv2
      | Let's start reading!

  template(x-if="home.reading_books.length > 0")
    template(x-for="book in home.reading_books" x-data="{ show_tag: false }")
      include ../components/book_item

  .mt4

  .sub-page-header History

  template(x-if="home.year_records.length > 0")
    template(x-for="record in home.year_records")
      .flex.items-center.lh-title
        .w-20
          a.f4.blue.link(
            x-bind:href="'/page/book/year/' + record.year"
            x-text="record.year"
          )
          span.f6(x-text="'(' + record.count + ')'")
        .w-80
            meter.w-100.dib(
              min="0"
              max="100"
              x-bind:value="record.ratio")

  template(x-if="home.year_records.length == 0")
    .black-50.pb3.mv2
      | No reading history yet.
