.f2.fw6.black-80.pb3 Import
.mt2

form.flex.flex-column(
  hx-encoding="multipart/form-data"
)
  .w-100
    .fl.w-20 Select file
    label.fl.w-80(for="file")
      input(
        type="file"
        name="file"
        id="file"
        accept=".csv"
      )
  .w-100.mt2
    .fl.w-20 Delimiter
    .fl.w-20
      select(name="delimiter")
        option(value=",") ,
        option(value=";") ;
    .fl.w-60
      .flex.justify-between
        .fl
        a.fl.link.ba.br2.tc.dim.pointer.blue.pv1.ph3(
          hx-post="/page/import/select_columns"
          hx-target="#message"
          type="submit"
        ) Read Columns
  .w-100.mt2
    .flex.justify-between
      .fl
      a.fl.link.br2.tc.dim.pointer.pv1.ph3.near-white.bg-blue(
        hx-post="/page/import"
        hx-target="#message"
        type="submit"
      ) Import

  p#message.bg-black-05.br2

if .results
  section
    h5 aa
