.page-header Import

form(
  hx-encoding="multipart/form-data"
)
  .flex.flex-wrap
    .w-20 Select file
    label.w-80(for="file")
      input(
        type="file"
        name="file"
        id="file"
        accept=".csv"
      )
  .flex.flex-wrap.mt2
    .w-20 Delimiter
    .w-20
      select(name="delimiter")
        option(value=",") ,
        option(value=";") ;
    .w-60
      .flex.justify-between
        .fl
        a.fl.link.button(
          hx-post="/page/import/select_columns"
          hx-target="#message"
          type="submit"
        ) Read Columns
  .flex.justify-between.mt2
      .fl
      a.fl.link.button.primary(
        hx-post="/page/import"
        hx-target="#message"
        type="submit"
      ) Import

  p#message.bg-black-05.br2

if .results
  section
    h5 aa
